@font-face {
    font-family: 'sanamdeklenchayaregular';
    src: url('../font/sanamdeklen_chaya-webfont.woff2') format('woff2'),
         url('../font/sanamdeklen_chaya-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Part 1*/

h4{
    color:orange;
}
a{
    color:black;
}

body{
    font-family: 'sanamdeklenchayaregular';
}
h1{
    font-weight: bold;
}
.profileBox{
    padding:30px; text-align:center;
}
.container{
    padding:30px
}
.desBox{
    display:inline-block; padding:20px
}
.friendDesBox, .meDesBox{
    padding:20px
}
.friendBox, .meBox{
    text-align:center
}

/*Part 2*/
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li::first-letter,
dt::first-letter,
dd::first-letter,
h2::first-letter,
h4::first-letter,
p::first-letter {
    font-size: 150%;
}